<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main window</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="../static/angular.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <style type="text/css">
  .container {
    margin-top: 20px;
  }
  </style>
</head>
<script src="../viewProductController.js"></script>

<body ng-app="edbApp" ng-controller="MainWindowController">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left">
          <li><a ng-class="visibleClass==='Product'?'teal':''" alt="show products table" href="#" ng-click="visibleClass='Product'">Products</a></li>
          <li><a ng-class="visibleClass==='Value'?'teal':''" alt="show values table" ng-click="visibleClass='Value'">Values</a></li>
          <li><a ng-class="visibleClass==='Reference'?'teal':''" alt="show references table" ng-click="visibleClass='Reference'">References</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <!-- products tab -->
    <div class="row" ng-class="visibleClass==='Product'?'':'hide'">
      <div class="col s12">
        <div>
          <input type="text" class="form-control" placeholder="Search term" ng-model="productSearchTerm">
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="id" ng-click="productSortField='id'">Id</th>
              <th data-field="name" ng-click="productSortField='name'">Name</th>
              <th data-field="specification" ng-click="productSortField='specification'">Spezifikation</th>
              <th ></th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="element in productsFromServer|orderBy:productSortField|filter:productSearchTerm" >
              <td >{{element.id}}</td>
              <td>{{element.name}}</td>
              <td>{{element.specification}}</td>
              <td><a ng-click="showPopup(element.id)"><i class="material-icons">open_in_new</i></a>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- values tab -->
    <div class="row" ng-class="visibleClass==='Value'?'':'hide'">
      <div class="col s12">
        <div>
          <input type="text" class="form-control" placeholder="Search term" ng-model="valueSearchTerm">
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="id" ng-click="valueSortField='id'">Id</th>
              <th data-field="type" ng-click="valueSortField='type'">Typ</th>
              <th data-field="reference" ng-click="valueSortField='reference'">Reference</th>
              <th data-field="product" ng-click="valueSortField='product'">Product</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="element in valuesFromServer|orderBy:valueSortField|filter:valueSearchTerm" ng-click="showPopup(element.id)">
              <td >{{element.id}}</td>
              <td>{{element.type}}</td>
              <td>{{element.reference}}</td>
              <td>{{element.product}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- references tab -->
    <div class="row" ng-class="visibleClass==='Reference'?'':'hide'">
      <div class="col s12">
        <div>
          <input type="text" class="form-control" placeholder="Search term" ng-model="referenceSearchTerm">
        </div>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="id" ng-click="referenceSortField='id'">Id</th>
              <th data-field="name" ng-click="referenceSortField='name'">Name</th>
              <th data-field="comment" ng-click="referenceSortField='comment'">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="element in referencesFromServer|orderBy:referenceSortField|filter:referenceSearchTerm" ng-click="showPopup(element.id)">
              <td >{{element.id}}</td>
              <td>{{element.name}}</td>
              <td>{{element.comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>