<!DOCTYPE html>
<html style="overflow:hidden">
<head>
  <title>Product Details</title>
  <script>window.$ = window.jQuery = require('jquery');</script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="../static/angular.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
</head>
<link rel="stylesheet" href="../allmighty-autocomplete/style/autocomplete.css">
<script type="text/javascript" src="../allmighty-autocomplete/script/autocomplete.js"></script>
<script src="../productFormController.js"></script>
<body>
 <div class="navbar-fixed">
   <nav>
    <div class="nav-wrapper">
    </div>
  </nav>
</div>
<div  ng-app="productFormApp" ng-controller="ProductFormController">
  <div class="row" style="height:100vh">
    <div class="col" style="height:100vh; overflow:scroll" ng-class="extenderVisible?'s7':'s12'">
      <div class="container" style="padding-bottom: 80px;overflow:visible">
        <div class="row">
          <div class="col s12 card-panel">

            Name:
            <input ng-class="localProduct.name===fromServer.name?'':'red'" type="text" ng-change="delayedPut()" ng-model="localProduct.name" required /><br />

            English name:
            <input ng-class="localProduct.englishName===fromServer.englishName?'':'red'" type="text" ng-change="delayedPut()" ng-model="localProduct.englishName"  /><br />

            French name:
            <input ng-class="localProduct.frenchName===fromServer.frenchName?'':'red'" type="text" ng-change="delayedPut()" ng-model="localProduct.frenchName"  /><br />

            Specification:
            <input ng-class="localProduct.specification===fromServer.specification?'':'red'" type="text" ng-change="delayedPut()"ng-model="localProduct.specification"/><br />
          </div>
        </div>
        <div class="row">
          <div class="col s12 card-panel">

            CO<sub>2</sub> Equivalent:
            <table>
              <thead>
                <tr>
                  <th data-field="reference" ng-click="co2SortField='reference'">Reference</th>
                  <th data-field="amount" ng-click="co2SortField='amount'">
                    Value
                  </th>
                  <th>
                    Derived
                  </th>
                  <th>
                    <!-- for edit button -->
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{localProduct['co2Values'][0].reference||"-"}}</td>
                  <td>{{localProduct['co2Values'][0].amount}} {{localProduct['co2Values'][0].unit}}</td>
                  <td>{{localProduct['co2Values'][0].derived?"Yes":"No"}}
                    <td>
                      <a title="display value details" class="" ng-click="toggleValueExtender(localProduct['co2Values'][0],'showCoValueExtender')"><i class="material-icons">input</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a title="add new value" ng-click="toggleGroupExtender(localProduct['co2Values'][0],'showCoValueExtender')"><i class="material-icons" >add</i></a>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col s12 card-panel">
              Allergenes:
              <table>
                <thead>
                  <tr>
                    <th data-field="reference" ng-click="allergeneSortField='reference'">Reference</th>
                    <th data-field="Number of allergenes" ng-click="allergeneSortField='complete'">No. Of Allergenes</th>
                    <th><!-- for edit button --></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="allergeneGroup in allergeneGroupKeys|orderBy:allergeneSortField" >
                    <td>{{allergenesGrouped[allergeneGroup][0].reference}}</td>
                    <td>{{allergenesGrouped[allergeneGroup].length}}</td>
                    <td>
                      <a title="display values" ng-click="toggleGroupExtender(allergenesGrouped[allergeneGroup][0].reference,allergenesGrouped[allergeneGroup][0].type,allergenesGrouped[allergeneGroup],'showAllergeneExtender')"><i class="material-icons">input</i></a>
                    </div>
                  </tr>
                  <tr>
                    <td>
                      <form ng-submit="toggleGroupExtender(newAllRefName,'ProductAllergeneAssociation',null,'showAllergeneExtender')">
                        <autocomplete attr-placeholder="additional reference..." autosearchfield='"name"' autoshowfields="['comment']" attr-input-class="input-field" ng-model="newAllRefName" data="references">
                        </autocomplete>
                      </form>
                    </td>
                    <td></td>
                    <td><a title="add additional reference" ng-click="toggleGroupExtender(newAllRefName,'ProductAllergeneAssociation',null,'showAllergeneExtender')"><i class="material-icons" >add</i></a>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col s12 card-panel">
              Info text for cook:
              <input ng-class="localProduct.infoTextForCook===fromServer.infoTextForCook?'':'red'" type="text" ng-change="delayedPut()"ng-model="localProduct.infoTextForCook"/><br />
            </div>
            <div class="col s12 card-panel">
              Tags:
              <div ng-repeat="tag in fromServer.tags">
                {{tag}}<br />
              </div><br />
            </div>
            <div class="col s12 card-panel">
              Alternatives:
              <div ng-repeat="alternative in fromServer.alternatives">
                {{alternative.name}}<br />
              </div><br />
            </div>
            <div class="col s12 card-panel">
              Nutrient processes:
              <table>
                <thead>
                  <tr>
                    <th data-field="reference" ng-click="allergeneSortField='reference'">Reference</th>
                    <th data-field="Number of allergenes" ng-click="allergeneSortField='complete'">No. Of Allergenes</th>
                    <th><!-- for edit button --></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="allergeneGroup in allergeneGroupKeys|orderBy:allergeneSortField" >
                    <td>{{allergenesGrouped[allergeneGroup][0].reference}}</td>
                    <td>{{allergenesGrouped[allergeneGroup].length}}</td>
                    <td>
                      <a title="display values" ng-click="toggleGroupExtender(allergenesGrouped[allergeneGroup][0].reference,allergenesGrouped[allergeneGroup][0].type,allergenesGrouped[allergeneGroup],'showAllergeneExtender')"><i class="material-icons">input</i></a>
                    </div>
                  </tr>
                  <tr>
                    <td>
                      <form ng-submit="toggleGroupExtender(newAllRefName,'ProductAllergeneAssociation',null,'showAllergeneExtender')">
                        <autocomplete attr-placeholder="additional reference..." autosearchfield='"name"' autoshowfields="['comment']" attr-input-class="input-field" ng-model="newAllRefName" data="references">
                        </autocomplete>
                      </form>
                    </td>
                    <td></td>
                    <td><a title="add additional reference" ng-click="toggleGroupExtender(newAllRefName,'ProductAllergeneAssociation',null,'showAllergeneExtender')"><i class="material-icons" >add</i></a>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div> 
          </div>
        </div>
      </div>
      <div style="height:100vh; overflow:scroll; word-wrap:break-word" ng-show="extenderVisible" class="col s5">
        <div class="container" style="padding-bottom: 80px;overflow:visible">
          <div class="card cyan lighten-4 row" extender>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/materialize.js"></script>
    <style type="text/css">

    .overlay {
      background-color: rgba(120,120,120,0.6);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      text-align:center;
      z-index: 999;
    }

    .nav-wrapper{
      background-color: #11586c;
    }
    a{ cursor: pointer; }
    </style>
  </body>
  </html>