
  <div allergene-extender ng-show="showAllergeneExtender"></div>
  <div alternative-extender ng-show="showAlternativeExtender"></div>
  <div coValue-extender ng-show="showCoValueExtender"></div>
  <div density-extender ng-show="showDensityExtender"></div>
  <div end-of-local-season-extender ng-show="showEndOfLocalSeasonExtender"></div>
  <div food-waste-data-extender ng-show="showFoodWasteDataExtender"></div>
  <div nutrient-process-extender ng-show="showNutrientProcessExtender"></div>
  <div nutrient-extender ng-show="showNutrientExtender"></div>
  <div origin-extender ng-show="showOriginExtender"></div>
  <div process-co-extender ng-show="showProcessCoExtender"></div>
  <div start-of-local-season-extender ng-show="showStartOfLocalSeasonExtender"></div>
  <div synoyms-extender ng-show="showSynonymsExtender"></div>
  <div tags-extender ng-show="showTagsExtender"></div>
  <div unit-weight-extender ng-show="showUnitWeightExtender"></div>