<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>Übersicht</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/angular.min.js"></script>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    
    <style type="text/css">
      .container {
          margin-top: 20px;
      }
    </style>
</head>
<script src="../viewProductController.js"></script>

<body ng-app="edbApp" ng-controller="MainWindowController">
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Logo</a>
      <ul id="nav-mobile" class="left">
        <li ><a ng-class="visibleClass==='Product'?'btn':'teal'" href="#" ng-click="ShowProducts">Products</a></li>
        <li><a href="#" ng-click="ShowValues">Values</a></li>
        <li><a href="#" ng-click="ShowReferences">References</a></li>
      </ul>
    </div>
  </nav>
   <div class="container">
    <div class="row">
    <div class="col s12">
      <div>
        <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchTerm">
      </div>  

        <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Id</th>
              <th data-field="name">Name</th>
              <th data-field="price">Spezifikation</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="element in fromServer|orderBy:sortField|filter:searchTerm" ng-click="showPopup(element.id)">
                <td >{{element.id}}</td>
                <td>{{element.name}}</td>
                <td>{{element.specification}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    </div>
</div>


</body>
</html>