<div class="row">
  <div class="col s12">
    <h4>CO<sub>2</sub> Equivalent:</h4>
  </div>
</div>
<div class="row">
  <div class="col s9 switch">
    <label>
      Value
      <input type="checkbox" ng-model="withBaseValue" ng-change="toggleBaseValue(editValues[0])">
      <span class="lever"></span>
      Derived
    </label>
  </div>
  <a class="col s3" ng-click="deleteSingleValue();"><i class="material-icons">delete_forever</i>
  </a>
</div>

<!-- this part is needed if the value is NOT based on another value -->
<div ng-show="!withBaseValue">
  <div class="row">
    <div class="col s12">
      Reference:
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <autocomplete autosearchfield='"name"' autoshowfields="['comment']" attr-input-class="input-field" ng-model="editValues[0].reference" data="serverReferences" attr-ng-change="putValue(editValues[0])"\>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        Value:
        <input type="number" ng-model="editValues[0].amount" ng-change="putValue(editValues[0])">
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        Unit:
        <input type="text" ng-change="putProduct()" ng-model="editValues[0].unit">
      </div>
    </div>

  </div>

  <!-- this part is needed if the value is  based on another value -->
  <div ng-show="withBaseValue">
    <div class="row">
      <div class="col s12">
        Product to derive from:
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <autocomplete autosearchfield='"id"' autoshowfields="['name', 'specification']" attr-input-class="input-field" ng-model="baseValueProductId" data="serverProducts"></autocomplete>
      </div>
      <div ng-show="baseProduct"class="col s12">
        ({{baseProduct.name}})
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
            <tr>
              <th data-field="amount" ng-click="allergeneSortField='reference'">Value</th>
              <th data-field="unit" ng-click="allergeneSortField='complete'">Unit</th>
              <th data-field="reference" ng-click="allergeneSortField='complete'">Reference</th>
              <th><!-- for edit button --></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="value in baseProcuctCo2Values">
              <td>{{value.amount}}</td>
              <td>{{value.unit}}</td>
              <td>{{value.reference}}</td>
              <td>
                <a class="" ng-click="editValues[0].baseValue=value.id; putValue(editValues[0])"><i class="material-icons">{{value.id===editValues[0].baseValue?"radio_button_checked":"radio_button_unchecked"}}</i></a>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
