    <div class="overlay" ng-show="showValueModal" controller"ValueModalController">
      <div class="container">
        <div class="row">
          <div  id="addValueModal" class="col s12 card">
            <div class="">
              <h4>Add Value</h4>

              <p>{{showProductModal}}</p>
            </div>
            <div class="">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="addValue()">Save</a><a class=" modal-action modal-close waves-effect waves-green btn-flat">Save and edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>